@{
    ViewData["Title"] = "Potwierdzenie e-mail";
}

<h2>Potwierdzenie e-mail zakończone sukcesem!</h2>
<p>Twoje konto zostało potwierdzone. Możesz teraz się zalogować.</p>

<a href="/Identity/Account/Login">Zaloguj się</a>
