@model Wypożyczalnia_samochodów_online.Models.CreateReservationViewModel

<h2>Rezerwacja samochodu</h2>

<form method="post">
    @Html.AntiForgeryToken()

    <input asp-for="CarId" type="hidden" />

    <label>Data rozpoczęcia</label>
    <input asp-for="StartDate" type="date" />
    <span asp-validation-for="StartDate"></span>

    <label>Data zakończenia</label>
    <input asp-for="EndDate" type="date" />
    <span asp-validation-for="EndDate"></span>

    <button type="submit">Zarezerwuj</button>
</form>
