@model Wypożyczalnia_samochodów_online.Models.CreateReservationViewModel

<h2>Rezerwacja samochodu</h2>

<!-- Formularz rezerwacji samochodu -->
<form method="post">
    @Html.AntiForgeryToken()

    <!-- Pole ukryte dla ID samochodu, które jest przesyłane w formularzu -->
    <input asp-for="CarId" type="hidden" />

    <!-- Pole do wyboru daty rozpoczęcia rezerwacji -->
    <label>Data rozpoczęcia</label>
    <input asp-for="StartDate" type="date" />
    <span asp-validation-for="StartDate"></span>

    <!-- Pole do wyboru daty zakończenia rezerwacji -->
    <label>Data zakończenia</label>
    <input asp-for="EndDate" type="date" />
    <span asp-validation-for="EndDate"></span>

    <!-- Przycisk wysyłający formularz -->
    <button type="submit">Zarezerwuj</button>
</form>
