@{
    ViewData["Title"] = "Błąd potwierdzenia e-mail";
}

<h2>Nie udało się potwierdzić e-mail.</h2>
<p>Twój link do potwierdzenia może być nieprawidłowy lub wygasł. Skontaktuj się z administratorem w celu uzyskania pomocy.</p>

<a href="/">Powrót na stronę główną</a>
